.central-meta {
    background: #fdfdfd none repeat scroll 0 0;
    border: 1px solid #ede9e9;
    border-radius: 3px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}

.new-postbox {
    display: inline-block;
    width: 100%;
}

.new-postbox > figure {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: top;
    width: 10.4%;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 85.5%;
}

.newpst-input > form {
    display: inline-block;
    width: 100%;
}
.newpst-input textarea {
    float: left;
    width: 100%;
}

.attachments {
    border: 1px solid #eee;
    display: block;
    padding: 10px;
    text-align: right;
    border-top: 0;
    background: #fff;
}

.attachments > ul {
    list-style: outside none none;
    margin-bottom: 0;
    padding-left: 0;
}

.attachments li {
    display: inline-block;
    margin-left: 5px;
}