*{
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.containter-form{
  // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  box-shadow: -5px -5px 15px #d1c3ec, 5px 5px 15px #445f8a;
}
