.header-main {
   padding-bottom: 250px;
}
.logo-header{
    height: 80px;
    width: 100vw;
    padding: 20px 0px 20px 0px;
    position: fixed;
    z-index: 1;
    box-shadow: -5px -5px 15px #ffffff, 5px 5px 15px #335080;
    display: flex;
    align-items: center;
}

.main-principale{
    padding-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
}